.input{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    padding-left: 20px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.6); 
    margin-top: 1rem;
}