.App{
  width: 100vw;
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(225, 211, 211);

}
.weather{
  width: 35rem;
  height: 28rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}